[Unit]
Description=Hardware clock synchronization
[Service]
Type=oneshot
ExecStart=/sbin/hwclock --hctosys
ExecStop=/sbin/hwclock --systohc
[Install]
WantedBy=multi-user.target
