[Unit]
Description=DM Launcher

[Service]
User=root
Type=simple
Environment="QT_QPA_PLATFORM=eglfs"
ExecStart=/usr/bin/dmlauncher -t
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
