[Unit]
Description=DM Launcher

[Service]
User=root
Type=simple
Environment="QT_QPA_PLATFORM=eglfs"
Environment="DISPLAY=:0"
ExecStart=/usr/bin/dmlauncher -b
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
